Package: fronius
Version: 0.1.0
Replaces: fronius
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Markus Haldorsen <markus@futurehome.no>
Description: Fronis Inverter adapter for Futurehome system  
