[Unit]
Description=fronius

[Service]
Type=simple
ExecStart=/opt/thingsplex/fronius/fronius
User=fronius
WorkingDirectory=/opt/thingsplex/fronius
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target